<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="URL" value="google.com"></parameter>
	
    <classes>
      <class name="Grouping.TESTNG1.New1"/>
      <class name="Grouping.TESTNG1.New2"/>
      <class name="Grouping.TESTNG1.New3"/>
      <class name="Grouping.TESTNG1.New4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
